.content{
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.event-card {
  width: 300px;
}
