<div class="content">
  <div class="form-container mat-elevation-z5">
    <h1>Sign Up</h1>

    @if(errorMessage){
      <div>{{errorMessage}}</div>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" placeholder="Username" formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <div class="center margin-top">
        <button mat-raised-button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>


