.content {
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

.loading-indicator,
.error-message {
  margin-top: 20px;
}

.places-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.place-card {
  max-width: 400px;
  height: 500px;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 20%;
}

mat-card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

mat-card-subtitle {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

img{
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 35%;
}

.no-image-placeholder {
  background-color: #f0f0f0;
  color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
}

mat-card-content {
  flex-grow: 1;
  padding: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}


.save-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}
.save-button:hover {
  background-color: #2980b9;
}
