<div class="content">
  <h1>Activities</h1>
  <p>Explore local attractions and points of interest.</p>

  <section>
    <div *ngIf="isLoading" class="loading-indicator">
      Loading activities...
    </div>

    <div *ngIf="errorMessage" class="error-message">
      Error fetching activities: {{ errorMessage }}
    </div>


    <div *ngIf="!isLoading && !errorMessage && places.length > 0" class="places-container">
      <mat-card *ngFor="let place of places"
                class="place-card"
                [routerLink]="['/activity', place.place_id]"
                style="cursor: pointer;"
                title="View details for {{ place.name }}">
        <mat-card-header>
          <mat-card-title>{{ place.name }}</mat-card-title>
          <mat-card-subtitle>{{ place.vicinity || 'Address not available' }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
             *ngIf="place.photos && place.photos.length > 0"
             [src]="place.imageUrl"
             alt="Image of {{ place.name }}">
        <div *ngIf="!place.photos || place.photos.length === 0" class="no-image-placeholder">
          No Image Available
        </div>
        <mat-card-content>
          <p>Rating: ⭐ {{ place.rating ? place.rating : 'N/A' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['/activity', place.place_id]">View Details</button>
        </mat-card-actions>
        <div class="card-actions" *ngIf="isLoggedIn$ | async">
          <button (click)="saveActivity(place); $event.stopPropagation()" class="save-button" title="Save Activity">
            &#x2764;&#xFE0F; Save </button>
        </div>
      </mat-card>
    </div>
  </section>
</div>
