nav {
  background-color: #007bff;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content{
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.map{
  padding: 50px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-content {
  flex-grow: 1;
  padding: 16px;
}

mat-card-title{
  padding-top: 15px;
  padding-bottom: 5px;
}

.home-card{
  width: 300px;
}

img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  display: block;
  padding: 5px;
}

@media (max-width: 720px) {
  .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-card {
    width: 100%;
    max-width: 350px;
  }
}

/*.map{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 75vw;*/
/*  height: 75vh;*/
/*}*/

/*.map{*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  width: 75vw;*/
/*  height: 75vh;*/
/*}*/
