

nav {
  background-color: #007bff;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content{
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.map{
  padding: 50px;
}
/*.map{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 75vw;*/
/*  height: 75vh;*/
/*}*/

/*.map{*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  width: 75vw;*/
/*  height: 75vh;*/
/*}*/
